<div class="schedule_change">

  <h1>予定変更</h1>

  <%= form_with(model: @plan, local: true) do |form| %>

    <div class="edit_plans">

      <div class="edit_plan">
        <div class="edit-label">
          <%= form.label :現場名 %>
        </div>
          <%= form.text_field :site_name, class:'edit-text-field' %>
      </div>

      <div class="edit_plan">
        <div class="edit-label">
          <%= form.label :場所 %>
        </div>
          <%= form.text_field :place, class:'edit-text-field' %>
      </div>

      <div class="edit_plan">
        <div class="edit-label">
          <%= form.label :期間 %>
        </div>
          <%= form.text_field :period, class:'edit-text-field' %>
      </div>

      <div class="edit_plan">
        <div class="edit-label">
          <%= form.label :着工日時 %>
        </div>
        <div class="new-text-fields">
          <%= form.datetime_select :start_time %>
        </div>
      </div>

      <div class="edit_plan">
        <div class="edit-label">
          <%= form.label :人数 %>
        </div>
          <%= form.text_field :number_of_people, class:'edit-text-field' %>
      </div>

      <div class="edit_plan">
        <div class="edit-label">
          <%= form.label :持ち物 %>
        </div>
          <%= form.text_field :belongings, class:'edit-text-field' %>
      </div>

      <div class="edit_plan">
        <div class="edit-label">
          <%= form.label :連絡先電話番号 %>
        </div>
          <%= form.text_field :phone_number, class:'edit-text-field' %>
      </div>

      <div class="edit_plan">
        <div class="edit-label">
          <%= form.label :使用している車両 %>
        </div>
          <%= form.text_field :car, class:'edit-text-field' %>
      </div>

      <div class="edit_plan_submit">
        <div class="edit_submit">
          <%= form.submit %>
        </div>
      </div>

    </div>

  <% end %>
</div>