<!DOCTYPE html>
<html>
  <head>
    <title>ScheduleManagement</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/3.18.1/build/cssreset/cssreset-min.css">

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <div class="header_bar">
        <div class="header_nav">
          <div class="menu_icon" id="lists">
            <%= image_tag "/assets/sozai_cman_jp_20210221152543.png", class: "menu_image" %>
            <ul class="navbar_lists  hidden" id="pull-down">
              <li class="navbar_list"><%= link_to "ホーム", root_path %> </li>
              <% if user_signed_in? %>
                <li><%= link_to current_user.nickname, edit_user_registration_path(current_user), class: "user-nickname" %></li>
                <li class="navbar_list"><%= link_to "ログアウト", destroy_user_session_path, method: :delete %></li>
              <% else %>
                <li class="navbar_list"><%= link_to "ログイン", new_user_session_path %></li>
                <li class="navbar_list"><%= link_to "新規登録", new_user_registration_path %></li>
              <% end %>
            </ul>
          </div>
        </div>
      </div>
      <div class="heading">
        <h1 class="header_logo"><a href="/">ScheduleManagement</a></h1>
      </div>
    </header>

    <%= yield %>
    
    <footer>
      <p>
        Copyright ScheduleManagement 2021.
      </p>
    </footer>
  </body>
</html>
